@import url("https://fonts.googleapis.com/css?family=Raleway:400,700");
*, *:before, *:after {
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  min-height: 100vh;
  font-family: 'Raleway', sans-serif;
  
}

.container {
  position: absolute;
  width: 100%;
  height: 100%;

}

.container .center, .container .center {
  opacity: 1;
  transition-delay: 0.2s;
}



.center {
  position: absolute;
  top: 50%;
  left: 50%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  margin-left: -200px;
  margin-top: -200px;

  width: 400px;
  height: 400px;
  
  opacity: 0;
  transition: all 0.5s cubic-bezier(0.445, 0.05, 0, 1);
  transition-delay: 0s;

  color: #333;
}
.center input {
  padding: 15px;
  margin: 5px;
  border-radius: 1px;
  border: 1px solid #ccc;

  width: 100%;
  
  font-family: inherit;
}

.push_button {
	position: relative;
	
  display: block;
  margin: 30px;
  
  width:220px;
  height:40px;
	
  
  font-size: 20px;
  font-weight: 700;
  font-family: 'Roboto', Helvetica;
  text-align:center;
	color:#FFF;
	text-decoration:none;
  line-height:43px;
	
}
.push_button:before {
  position: absolute;
  left: -6px; 
  right: -6px;
  top: -6px; 
  bottom: -10px;
  content: "";

	border-radius:5px;
	
	background:#f0f0f0;
	z-index: -1;
}

.push_button:active {
  top:5px;

  box-shadow:0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset;
}
.push_button:active:before{
	top: -11px;
	bottom: -5px;
	content: "";
}

.red {
	border:1px solid #D25068;
	border-radius:5px;

  text-shadow:-1px -1px 0 #A84155;
  box-shadow:0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 4px 0 #AD4257, 0 4px 2px rgba(0, 0, 0, .5);
  
  background-image:linear-gradient(to bottom, #F66C7B, #D25068);
  background: #D25068;
}

.red:hover {
  cursor: pointer;
	
  background-image:linear-gradient(top, #D25068, #F66C7B);
  background: #F66C7B;
}

.isDisabled {
  cursor: not-allowed;

  opacity: 0.3;
  text-decoration: none;

  color: currentColor;
  background-image:linear-gradient(top, #D25068, #F66C7B);
}

a.isDisabled:hover {
  cursor: not-allowed;
	background: #F66C7B;

	background-image:linear-gradient(top, #D25068, #F66C7B);
}
a.isDisabled:active {
  display: inline-block;  

  pointer-events: none;
  text-decoration: none;

  color: currentColor;
}

.push_button:focus {
  outline: 0;
  box-shadow: none!important;
}

.logo-box img{
  /* src: url("https://s3.ap-south-1.amazonaws.com/tpng-images/random/original/6be52f0b-56bf-4fdc-abd3-0bec9e58610c.png" ); */
  position: relative;
  width: 150px;
}

input.error-input {
  border-color: red;
  outline-color:#ff4d4d;
}
.error-line{
  font-weight: 600;
  font-size: 10px;

  width: 330px;
  text-align: left;

  color: red;
}

.success {
  position: absolute;
  bottom: 20px;

  font-size: 20px;

  color: green;
}

.sign-in {
  margin: 30px 0px;

  font-weight: 550;
  font-size: 24px;
}

.card {
  border: 1px solid #f2f2f2; 
  border-radius: 5px;

  height: 520px;

  box-shadow: 5px 5px #f2f2f2;
}

.title{
  font-size: 16px;
  font-weight: 550;
}

.spinner-loader {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 56px;
  width: 56px;
  margin: -28px;
  animation: fadeIn 0.5s linear;
}
.spinner-loader:before {
  content: '';
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border-top: 2px solid rgba(0, 0, 0, .05);
  border-right: 2px solid rgba(0, 0, 0, .05);
  border-bottom: 2px solid rgba(0, 0, 0, .05);
  border-left: 2px solid #0278f8;
  box-sizing: border-box;
  animation: spinnerAnimation 0.8s infinite linear;
}

@keyframes spinnerAnimation {
  to {transform: rotate(360deg);}
}









